# Local .terraform directories
preprod/.terraform/

#Local terraform lock
preprod/.terraform.lock.hcl

#Local tfstat
preprod/*.tfstate


.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
.terraform/